header, #tabellaInfo, #mainMenu
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

footer
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top: 600px;
}

body 
{
	
}

.topDecks
{
	/*border:2px solid black;*/
	width:100px;
    height:200px;
	display: inline-block;
	margin-left:20px;
}

#topDeck
{
	height:150px;
	width:2000px;
}

#bottomDeck
{
	position:absolute;
	bottom:0;
	border:2px solid black;
	width:100px;
	height:200px;
	right:100;
}

div
{
	/*height:auto;
	width:auto;*/
}

.coveredDeck
{
	/*border:2px solid black;*/
	height:100px;
	margin-top:-30px;
}

.coveredDeck0
{
	/*border:2px solid black;*/
	height:100px;
}

/*#tmpArray { margin-top:800px; font-size:30px;}*/
