/*
	Intestazione, menù principale e tabella informazioni
*/
header, #tabellaInfo, #mainMenu
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

/*
	Mazzi superiori
*/
.topDecks
{
	border:2px solid black;
	width:80px;
    height:100px;
	display: inline-block;
	margin-left:20px;
	float: left;
	 cursor: pointer;
}

/*
	Contenitore mazzi superiori
*/
#topDeck
{
	height:150px;
	width:2000px;
}

/*
	Mazzo inferiore
*/
#bottomDeck
{
	position:absolute;
	bottom:0;
	border:2px solid black;
	width:75px;
	height:100px;
	right:100;
}

/*
	Carte coperte (colonna>0)
*/
.coveredDeck
{
	height:100px;
	margin-top:-50px;
	 cursor: pointer;
}

/*
	Carte evidenziate (sistema di aiuti)
*/
.cardHighlighted
{
	height:100px;
	margin-top:-50px;
	border: 6px solid yellow;
}

/*
	Carte coperte della prima colonna
*/
.coveredDeck0
{
	height:100px;
	 cursor: pointer;
}

/*
	Classe applicata al body
*/
.main
{
	 background: #00C853; 
}

/*
	Classe applicata a tutti i bottoni
*/
.btn 
{
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
   background: none repeat scroll 0 0 $dark;
	color: $white;
	 cursor: pointer;
}

/*
	Mouse sopra bottone
*/
 .btn:hover
 {
 	background: #4285f4;color: white;
 }

p
{
	margin-top: 600px;
}

/*
	Titolo e sottotiolo
*/

h1
{
	display: inline;
	position: relative;
	font: 150px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

h1:after
{
	content: "Spider";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5); 
}

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }


/*
	Tabella informazioni su partita
*/

.stats-table {
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 200%;
width: 80%;
height: 300px;
overflow: auto;
display: block;
}
.stats-table th {
/*background-color: rgb(112, 196, 105);*/
background: #4285f4;
font-weight: normal;
color: white;
padding: 20px 30px;
text-align: center;
}
.stats-table td {
background-color: rgb(238, 238, 238);
padding: 20px 30px;
color: rgb(111, 111, 111);
}


/*
	Piè di pagina
*/
footer {color: black; font-family: "Great Vibes", cursive; font-size: 20px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 600px; text-align: center; text-shadow: 0 1px 1px #fff; }
footer:hover {color: white;}

/*
	Menù di scelta tab
*/

.menuTab
{
	text-align: center;
	margin-left: auto;
	margin right: auto;
	width:80%;
}

ul 
{
  text-align: center;
  vertical-align: centre;
  overflow: auto;
  list-style-type: none;
}
 
li {
	text-align:center;
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover 
{
  color: #4285f4;
}
 
li.active a 
{
  font-weight: bold;
  color: #333;
}




/*
	Input nome nella schermata iniziale
*/

.container
{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}

input 				
{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		
{ outline:none; }

label 				 
{
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		
{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#4285f4; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}

.btnInizia 
{
 display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      text-align: center;
      vertical-align: centre;
      background-color: #4285f4;
      color: #fff;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	  transition-delay: 0.2s;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	  cursor: pointer;
}

.btnInizia:active
{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}

