header, #tabellaInfo, #mainMenu
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

footer
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top: 600px;
}


.topDecks
{
	border:2px solid black;
	width:80px;
    height:100px;
	display: inline-block;
	margin-left:20px;
	float: left;
}

#topDeck
{
	height:150px;
	width:2000px;
}

#bottomDeck
{
	position:absolute;
	bottom:0;
	border:2px solid black;
	width:75px;
	height:100px;
	right:100;
}

.coveredDeck
{
	/*border:2px solid black;*/
	height:100px;
	margin-top:-30px;
}

.main { background: #2ecc71; }


.btn {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
   background: none repeat scroll 0 0 $dark;
	color: $white;
}

 .btn:hover{background: green;color: white;}

.coveredDeck0{height:100px;}

p
{margin-top: 600px;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }




.flat-table {
		margin-bottom: 20px;
		border-collapse:collapse;
		font-family: 'Lato', Calibri, Arial, sans-serif;
		border: none;
                border-radius: 3px;
	}
	.flat-table th, .flat-table td {
		box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
			inset 0 1px rgba(0,0,0,0.25);
	}
	
	.flat-table td {
		color: #f7f7f7;
		padding: 0.7em 1em 0.7em 1.15em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 1.4em;
	}
	.flat-table tr {transition: background 0.3s, box-shadow 0.3s;}

	.flat-table tr:hover {background: rgba(0,0,0,0.19);}

footer { color: black; font-family: "Great Vibes", cursive; font-size: 20px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }
footer:hover {color: white;}
